/*
This file is part of Ext JS 4.1 ux
Copyright (c) 2012-2013 Formative Lab
Web:  http://www.formativesoft.com
Contact: formative.soft@gmail.com
Build date: 2013-03-05 12:00:00
*/
.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
.x-grid-checkheader {
    height: 14px;
    background-image: url('images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}
.x-view-selector {
    position: absolute;
    border: 1px dotted #3399BB;
}/*
 * GridFilters Styles
 */

.ux-filtered-column {
    font-style: italic;
    font-weight: bold;
}

.ux-gridfilter-text-icon {
    background-image: url(images/find.png) !important;
}
/* Main GroupTabPanel style */
.x-grouptabpanel {
    background-color: #4E78B1;
    border: solid 15px #4E78B1;
}
/* End of GroupTabPanel style */

/* Card Layout container */
.x-grouptabcontainer {
    background-color: white;
    border-top: 1px solid #d9d9d9 !important;    
    border-bottom: 1px solid #d9d9d9 !important;
    border-right: 1px solid #d9d9d9 !important;
}
/* End of Card Layout container */

.x-grouptabpanel .x-grouptab .x-grid-cell-inner  {
    font-family: tahoma, arial, sans-serif;
    text-decoration: none!important;
}

.x-grouptabpanel .x-grouptab-first .x-grid-cell-inner  {
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
}

.x-grouptabbar .x-grid-row .x-grid-cell {
    background-color: transparent;
    padding-left: 6px;
}

.x-grouptabbar .x-grid-cell-inner  {
    color: #DFE8F6;
}

.x-grouptabpanel .x-active-group .x-grid-cell-inner  {
    color: #395B8E;
}

.x-grouptabbar .x-grouptab {
    line-height: 24px;
    background-color: transparent;
    font-size: 12px;
    position: relative;
    padding-left: 6px;
    padding-bottom: 2px;
}

.x-grouptabbar .x-grouptab-first {
    padding-top: 6px;
}

.x-grouptabbar .x-grouptab-last {
    margin-bottom: 3px;
}

.x-grouptabbar .x-active-tab .x-grid-cell-inner  {
    background-color: #EDEEF0;
}

.x-grouptabbar .x-tree-elbow-line, 
.x-grouptabbar .x-tree-elbow-empty {
    width: 0;
}

.x-grouptabbar .x-active-group .x-grouptab {
    background-color: white;
}

.x-grouptabbar .x-active-group .x-grouptab-first {
    border-top: 1px solid #d9d9d9;
}

.x-grouptabbar .x-active-group .x-grouptab-center {
    border-left: 1px solid #d9d9d9;
}

.x-grouptabbar .x-active-group .x-grouptab-last {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 3px;
}

.x-grouptabbar .x-active-group .x-grouptab-first,
.x-grouptabbar .x-active-group .x-grouptab-last {
    border-left: 1px solid #d9d9d9;
}
/* Tab corners */
.x-grouptabbar .x-grouptabs-corner {
    background-image: url('images/x-grouptabs-corners.gif');
    display: none;
    width: 11px;
    height: 11px;
    position: absolute;
    font-size: 1px;
    line-height: 6px;
    overflow: hidden;
    zoom:1;
}

.x-grouptabbar .x-grouptabs-corner {
    display: none;
}

.x-grouptabbar .x-active-group .x-grouptab-first .x-grouptabs-corner-top-left,
.x-grouptabbar .x-active-group .x-grouptab-last .x-grouptabs-corner-bottom-left {
    display: block;
}

.x-grouptabbar .x-grouptabs-corner-top-left {
    background-position: top left;
    left: 0; top: 0;
}
.x-grouptabbar .x-grouptabs-corner-bottom-left {
    background-position: bottom left;
    left: 0; bottom: 0;
}
.x-grouptabbar .x-grouptabs-corner-top-right {
    background-position: top right;
    right: 0; top: 0;
}
.x-grouptabbar .x-grouptabs-corner-bottom-right {
    background-position: bottom right;
    right: 0; bottom: 0;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-bottom-left{
    bottom: -4px; left: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-bottom-right{
    bottom: -4px; right: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-top-left{
    top: -4px; left: -4px;
}
.x-grouptabbar .x-active-group .x-grouptabs-corner-top-right{
    top: -4px; right: -4px;
}

.x-grouptabbar .x-tree-panel .x-grid-cell {
    overflow: visible;
}

.x-grouptabbar .x-panel-body  {
    background-color: #4E78B1;
}

.x-grouptabbar {
    top: 0 !important;
    margin-top: -1px !important;
}

.x-strict .x-ie7 .x-grouptabbar, .x-strict .x-ie6 .x-grouptabbar {
    margin-top: -2px !important;
}

.x-grouptabbar .x-grouptab .x-tree-icon-parent {
    display: none;
}

.x-grouptabbar .x-grouptab .x-tree-elbow,
.x-grouptabbar .x-grouptab .x-tree-elbow-end {
    display: none;
}

.x-grouptabbar .x-grouptab .x-tree-expander {
    background: transparent url('images/elbow-plus-nl.gif') no-repeat;
}

.x-grouptabbar .x-grid-tree-node-expanded .x-grouptab .x-tree-expander {
    background: transparent url('images/elbow-minus-nl.gif') no-repeat;
}/* Styles used by Ext.ux.form.ItemSelector */

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(images/top2.gif);
}
.x-form-itemselector-up {
    background-image: url(images/up2.gif);
}
.x-form-itemselector-add {
    background-image: url(images/right2.gif);
}
.x-form-itemselector-remove {
    background-image: url(images/left2.gif);
}
.x-form-itemselector-down {
    background-image: url(images/down2.gif);
}
.x-form-itemselector-bottom {
    background-image: url(images/bottom2.gif);
}
.x-livesearch-match {
    font-weight: bold;
    background-color: yellow;
}

.x-toolbar .x-form-cb-wrap {
    line-height: 22px;
}
.x-toolbar .x-form-checkbox {
    vertical-align: 0;
}
/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    margin-top: 0;
}

.ux-rangemenu-gt {
    background-image: url(images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(images/equals.png) !important;
}
/* StatusBar - structure */
.x-statusbar .x-status-text {
    cursor: default;
/*
    height: 21px;
    line-height: 21px;
    padding: 0 4px;
*/
}
.x-statusbar .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 2px 8px 2px 5px;
}

/* StatusBar word processor example styles */

#word-status .x-status-text-panel .spacer {
    width: 60px;
    font-size:0;
    line-height:0;
}
#word-status .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    cursor: pointer;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font: 11px tahoma,arial,verdana,sans-serif;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 5px 10px;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc;
    margin-left: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */


/* StatusBar - visual */

.x-statusbar .x-status-busy {
    background-image: url(../images/loading.gif);
}
.x-statusbar .x-status-text-panel {
    border-color: #99bbe8 #fff #fff #99bbe8;
}

/* StatusBar word processor example styles */

#word-status .x-status-text {
    color: #777;
}
#word-status .x-status-busy {
    background-image: url(images/saving.gif);
}
#word-status .x-status-saved {
    background-image: url(images/saved.png);
}

/* StatusBar form validation example styles */

.x-statusbar .x-status-error {
    color: #C33;
    background-image: url(images/exclamation.gif);
}
.x-statusbar .x-status-valid {
    background-image: url(images/accept.png);
}
.x-status-error-list {
    border-color: #C33;
    background: white;
}
.x-status-error-list li a {
    color: #15428B;
}.x-tab-tabmenu-right {
    background: transparent url('images/tab-scroller-menu.gif') no-repeat 0 0;
    width:18px;
    height: 20px;
    cursor:pointer;
    zoom: 1;
    z-index: 6;
    float: right;
}
.x-tab-tabmenu-over {
    background-position: -18px 0;
}
.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}
