#fsl-loading-mask {
    background-color: white;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20000;
}

#fsl-loading {
    height: auto;
    position: absolute;
    left: 40%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
}

#fsl-loading a {
    color: #225588;
    text-decoration: none;
}

#fsl-loading .fsl-loading-indicator {
    background: white;
    color: #444;
    font: bold 13px Helvetica, Arial, sans-serif;
    height: auto;
    margin: 0;
    padding: 10px;
}

#fsl-loading .fsl-loading-indicator img {
    width: 32 px;
    height: 32 px;
    float: left;
    margin-right: 8px;
    vertical-align: top;
}

#fsl-loading-msg {
    font-size: 10px;
    font-weight: normal;
}

.fsl-banner-bg{  
    background-image: url(../images/rdp-hd-bg.gif) !important;
    padding-bottom: 0px;
}

.fsl-banner-text {
    font-family: tahoma, verdana, sans-serif;
    font-weight: bold;
    font-size: 16;
    color: #ffffff;
}

.fsl-copyright {
    font-family: tahoma, verdana, sans-serif;
    font-weight: bold;
    font-size: 10;
    color: #ffffff;
}

.fsl-content-bg { 
    background: url("../images/Formative-Soft-Logo.png") no-repeat scroll center center transparent !important;
}

.fsl-tree-filter{
    background-repeat: no-repeat; padding-left: 20px;
    background-image: url(../images/FIN01001.png) !important;
}

.fsl-severity-debug{
    background-repeat: no-repeat; padding-left: 20px;
    background-image: url(../images/INF01001.png) !important;
}

.fsl-severity-info{
    background-repeat: no-repeat; padding-left: 20px;
    background-image: url(../images/INF01001.png) !important;
}

.fsl-severity-warn{
    background-repeat: no-repeat; padding-left: 20px;
    background-image: url(../images/INF01001.png) !important;
}

.fsl-severity-error{
    background-repeat: no-repeat; padding-left: 20px;
    background-image: url(../images/INF01001.png) !important;
}

.fsl-border-bottom{
    border-bottom: 1px solid #99BBE8;
}

.fsl-border-top{
    border-top: 1px solid #99BBE8;
}
/* Omar CSS */
.my-border-bottom {
    border-bottom: 1px solid #99BBE8;
}

.my-border-bottom-left-right {    
    border-left :none;
    border-right:none;
    border-bottom:none;
    border-top: 1px solid #99BBE8;
}

.custom-column {
    background-color: #f799af;
}



#logout {
    /*  background: #FFC url(../images/logout-button-png-md3.png) repeat-x;
      width: 70px;
      height: 35px;*/
    float: right;
    display: inline-block;
    color: #FFFFFF;
    font-family: tahoma,verdana,sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding-top: 5px;
}
#logout:hover {
     /* background-color: #900;
      background-position: 0 -24px;*/
    text-decoration:underline;
    cursor: pointer;
    color: #ddd;
}

#fsl-setUser{
    float       : right;
    display     : inline-block;
    color       : #FFFFFF;
    font-family : tahoma,verdana,sans-serif;
    font-size   : 10px;
    font-weight : bold;
    padding-top : 5px;    
}

/*
.fsl-grid-tree-node-expanded {
    background-repeat   : no-repeat;
    background-image    : url(../icon/TB01001/Awesome-Twitter.jpg) !important;
}

.fsl-tree-icon-node{
    background-repeat   : no-repeat;
    background-image    : url(../icon/TB01001/node-tree.png) !important;
}
.fsl-tree-icon-leaf{
    background-repeat   : no-repeat;
    background-image    : url(../icon/TB01001/leaf.jpg) !important;
}

.x-grid-tree-node-expanded .x-tree-icon-parent {
    background: url(../icon/TB01001/Play-Green-Button-icon.png) no-repeat center center !important;
}
.x-grid-row  .x-tree-icon-leaf {
	background-image:url(../icon/TB01001/Button-Play-Pause-icon.png);
}*/
